flows.json
[{"id":"998d18d0.5d2d78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b030c10c.c860b","type":"ui_tab","name":"COVID-19","icon":"dashboard","disabled":false,"hidden":false},{"id":"dde245b9.f18668","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#56ae88","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#56ae88","edited":true},"page-titlebar-backgroundColor":{"value":"#56ae88","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#8ac7ac","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#56ae88","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":40,"gy":6,"cx":30,"cy":2,"px":0,"py":2}}},{"id":"ce8437a5.e02548","type":"ui_group","name":"Global","tab":"b030c10c.c860b","order":2,"disp":true,"width":12,"collapse":false},{"id":"d75e7078.48e75","type":"ui_group","name":"Sri Lanka","tab":"b030c10c.c860b","order":1,"disp":true,"width":"12","collapse":false},{"id":"115496f8.029ad9","type":"ui_group","name":"Update status","tab":"b030c10c.c860b","order":4,"disp":true,"width":5,"collapse":false},{"id":"6acc25b9.4c63bc","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1e2d4b6f.bab715","type":"ui_group","name":"Sri Lanka","tab":"","order":3,"disp":true,"width":10,"collapse":false},{"id":"ec5790ba.087d6","type":"ui_group","name":"Seperate country","tab":"b030c10c.c860b","order":3,"disp":false,"width":12,"collapse":false},{"id":"3251b0e0.c514c","type":"ui_group","name":"2 호기","tab":"","order":3,"disp":true,"width":7,"collapse":false},{"id":"dc921136.125e5","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":2,"width":2,"height":1},{"id":"49c42a2c.9d0a34","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":5,"width":2,"height":1},{"id":"8cbb8234.4f2ba","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":8,"width":2,"height":1},{"id":"6a478f5f.06442","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":11,"width":7,"height":1},{"id":"1026fbee.a4e4c4","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":13,"width":7,"height":1},{"id":"f50ab71e.e2f278","type":"ui_spacer","name":"spacer","group":"d75e7078.48e75","order":15,"width":7,"height":1},{"id":"1b7c5ca.363f5a3","type":"ui_spacer","name":"spacer","group":"ce8437a5.e02548","order":2,"width":2,"height":1},{"id":"49c6977b.ad7948","type":"ui_spacer","name":"spacer","group":"ce8437a5.e02548","order":5,"width":2,"height":1},{"id":"63642656.c73d68","type":"ui_spacer","name":"spacer","group":"ce8437a5.e02548","order":8,"width":2,"height":1},{"id":"49d0f6c7.9ad448","type":"ui_spacer","name":"spacer","group":"ec5790ba.087d6","order":3,"width":2,"height":1},{"id":"87e52f5b.1befd","type":"ui_spacer","name":"spacer","group":"ec5790ba.087d6","order":6,"width":2,"height":1},{"id":"c3bda1da.c9c64","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3f514270.ba288e","type":"inject","z":"998d18d0.5d2d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":460,"wires":[["1d4d6a56.e86d36","734428ad.d4aad8"]]},{"id":"1d4d6a56.e86d36","type":"http request","z":"998d18d0.5d2d78","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://www.hpb.health.gov.lk/api/get-current-statistical","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":460,"wires":[["1fe9776c.720f19","8f6f0b84.044698","8ae84d88.f687e","7118743.eed778c","49b95586.05788c","efd27563.1e1ac8","64ccfda3.132e04","3a985155.02335e","92970c3f.4a694","bef9ff4d.4e6bc","368599c7.fe7786","dfde2a2.2e50bd8","b7e17519.7a4608","9ebf3649.a93a68","36dc283f.ce2398","de0e5eec.fc1ae","4b8e4147.6cf95","9e799418.550938","a1076cea.409f5","67d5ccc6.7e3794","db57c63c.0e8598"]]},{"id":"734428ad.d4aad8","type":"http request","z":"998d18d0.5d2d78","name":"","method":"GET","ret":"obj","paytoqs":"body","url":"https://api.covid19api.com/summary","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1180,"wires":[["514f8168.f6ebc","fb6e5f4f.ed43b","1e05b110.57f58f","429f9902.8ce768","db209962.9d2bb8","1958a2ef.8a556d","67da5f45.92cd4","284ab457.39854c","978c15b0.a226a8","5cbd85c7.9a3a3c","bfa9982.8ade568","33accaca.a44d86"]]},{"id":"1958a2ef.8a556d","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":3,"width":5,"height":1,"name":"New Confirmed","label":"New Confirmed","format":"{{msg.payload.Global.NewConfirmed}}","layout":"row-spread","x":740,"y":980,"wires":[]},{"id":"db209962.9d2bb8","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":1,"width":5,"height":1,"name":"Total Confirmed","label":"Total Confirmed","format":"{{msg.payload.Global.TotalConfirmed}}","layout":"row-spread","x":740,"y":1080,"wires":[]},{"id":"429f9902.8ce768","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":6,"width":5,"height":1,"name":"New Deaths","label":"New Deaths","format":"{{msg.payload.Global.NewDeaths}}","layout":"row-spread","x":730,"y":1180,"wires":[]},{"id":"1e05b110.57f58f","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":4,"width":5,"height":1,"name":"Total Deaths","label":"Total Deaths","format":"{{msg.payload.Global.TotalDeaths}}","layout":"row-spread","x":730,"y":1280,"wires":[]},{"id":"fb6e5f4f.ed43b","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":9,"width":5,"height":1,"name":"New Recovered","label":"New Recovered","format":"{{msg.payload.Global.NewRecovered}}","layout":"row-spread","x":740,"y":1380,"wires":[]},{"id":"514f8168.f6ebc","type":"ui_text","z":"998d18d0.5d2d78","group":"ce8437a5.e02548","order":7,"width":5,"height":1,"name":"Total Recovered","label":"Total Recovered","format":"{{msg.payload.Global.TotalRecovered}}","layout":"row-spread","x":740,"y":1480,"wires":[]},{"id":"1fe9776c.720f19","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":3,"width":5,"height":1,"name":"New cases","label":"New cases","format":"{{msg.payload.data.local_new_cases}}","layout":"row-spread","x":750,"y":20,"wires":[]},{"id":"8f6f0b84.044698","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":1,"width":5,"height":1,"name":"Total cases","label":"Total cases","format":"{{msg.payload.data.local_total_cases}}","layout":"row-spread","x":750,"y":140,"wires":[]},{"id":"3a985155.02335e","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":10,"width":5,"height":1,"name":"In hospitals","label":"Total hospitalized patients","format":"{{msg.payload.data.local_total_number_of_individuals_in_hospitals}}","layout":"row-spread","x":750,"y":220,"wires":[]},{"id":"64ccfda3.132e04","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":4,"width":5,"height":1,"name":"Total Deaths","label":"Total Deaths","format":"{{msg.payload.data.local_deaths}}","layout":"row-spread","x":750,"y":300,"wires":[]},{"id":"efd27563.1e1ac8","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":6,"width":5,"height":1,"name":"New deaths","label":"New deaths","format":"{{msg.payload.data.local_new_deaths}}","layout":"row-spread","x":750,"y":380,"wires":[]},{"id":"49b95586.05788c","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":12,"width":5,"height":1,"name":"Total recovered","label":"Total recovered","format":"{{msg.payload.data.local_recovered}}","layout":"row-spread","x":760,"y":460,"wires":[]},{"id":"7118743.eed778c","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":14,"width":5,"height":1,"name":"Active cases","label":"Active cases","format":"{{msg.payload.data.local_active_cases}}","layout":"row-spread","x":750,"y":540,"wires":[]},{"id":"8ae84d88.f687e","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":7,"width":5,"height":1,"name":"Total PCR tests","label":"Total PCR tests","format":"{{msg.payload.data.total_pcr_testing_count}}","layout":"row-spread","x":760,"y":620,"wires":[]},{"id":"92970c3f.4a694","type":"ui_text","z":"998d18d0.5d2d78","group":"115496f8.029ad9","order":1,"width":0,"height":0,"name":"Updated Date/Time ","label":"Updated Date/Time ","format":"{{msg.payload.data.update_date_time}}","layout":"row-spread","x":770,"y":700,"wires":[]},{"id":"bef9ff4d.4e6bc","type":"function","z":"998d18d0.5d2d78","name":"","func":"let pay = msg.payload.data.daily_pcr_testing_data[msg.payload.data.daily_pcr_testing_data.length-1];\nmsg.payload = pay;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":800,"wires":[["6be6728f.a5494c","64a002b8.592bac","9d036c2a.62a7b"]]},{"id":"6be6728f.a5494c","type":"ui_text","z":"998d18d0.5d2d78","group":"d75e7078.48e75","order":9,"width":5,"height":1,"name":"Daily PCR Tests","label":"Daily PCR Tests","format":"{{msg.payload.pcr_count}}","layout":"row-spread","x":760,"y":780,"wires":[]},{"id":"368599c7.fe7786","type":"change","z":"998d18d0.5d2d78","name":"New cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_new_cases","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[["be5ac523.6adc48","ce4d51bf.f7bac"]]},{"id":"dfde2a2.2e50bd8","type":"change","z":"998d18d0.5d2d78","name":"Total cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_total_cases","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":180,"wires":[["1d97a476.9c207c","ce4d51bf.f7bac"]]},{"id":"b7e17519.7a4608","type":"change","z":"998d18d0.5d2d78","name":"In hospitals","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_total_number_of_individuals_in_hospitals","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["3259ed3c.72d712","ce4d51bf.f7bac"]]},{"id":"9ebf3649.a93a68","type":"change","z":"998d18d0.5d2d78","name":"Total deaths","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_deaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":340,"wires":[["289ee94f.10eac6","ce4d51bf.f7bac"]]},{"id":"36dc283f.ce2398","type":"change","z":"998d18d0.5d2d78","name":"New deaths","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_new_deaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["5884bdc2.edc114","ce4d51bf.f7bac"]]},{"id":"de0e5eec.fc1ae","type":"change","z":"998d18d0.5d2d78","name":"Active cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_active_cases","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":580,"wires":[["d713354e.3ba048","ce4d51bf.f7bac"]]},{"id":"4b8e4147.6cf95","type":"change","z":"998d18d0.5d2d78","name":"Total recovered","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_recovered","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":500,"wires":[["d706d781.8c2238","ce4d51bf.f7bac"]]},{"id":"9e799418.550938","type":"change","z":"998d18d0.5d2d78","name":"Total PCR tests","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.total_pcr_testing_count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":660,"wires":[["ba99a48a.6d7548","ce4d51bf.f7bac"]]},{"id":"a1076cea.409f5","type":"change","z":"998d18d0.5d2d78","name":"Updated Date/Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.update_date_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":740,"wires":[["151286f2.1b3129","ce4d51bf.f7bac"]]},{"id":"64a002b8.592bac","type":"change","z":"998d18d0.5d2d78","name":"Daily PCR Tests","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pcr_count","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":820,"wires":[["80424847.9eaf68","ce4d51bf.f7bac"]]},{"id":"67da5f45.92cd4","type":"change","z":"998d18d0.5d2d78","name":"New cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.NewConfirmed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1020,"wires":[["396faa0f.b500d6","ce4d51bf.f7bac"]]},{"id":"284ab457.39854c","type":"change","z":"998d18d0.5d2d78","name":"Total Confirmed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalConfirmed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1120,"wires":[["10f97f54.988981","ce4d51bf.f7bac"]]},{"id":"978c15b0.a226a8","type":"change","z":"998d18d0.5d2d78","name":"New Deaths","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.NewDeaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1220,"wires":[["b4a2b33a.b442a","ce4d51bf.f7bac"]]},{"id":"5cbd85c7.9a3a3c","type":"change","z":"998d18d0.5d2d78","name":"Total Deaths","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalDeaths","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1320,"wires":[["12e7a16e.65965f","ce4d51bf.f7bac"]]},{"id":"bfa9982.8ade568","type":"change","z":"998d18d0.5d2d78","name":"New Recovered","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.NewRecovered","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1420,"wires":[["ff38e4b2.fc1298","ce4d51bf.f7bac"]]},{"id":"33accaca.a44d86","type":"change","z":"998d18d0.5d2d78","name":"Total Recovered","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Global.TotalRecovered","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1520,"wires":[["b85db6ab.4cad88","ce4d51bf.f7bac"]]},{"id":"79165c83.071174","type":"mqtt out","z":"998d18d0.5d2d78","name":"","topic":"Covid19","qos":"","retain":"","broker":"6acc25b9.4c63bc","x":1740,"y":860,"wires":[]},{"id":"6ea11448.c8ad6c","type":"debug","z":"998d18d0.5d2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1750,"y":820,"wires":[]},{"id":"d706d781.8c2238","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_recovered","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":500,"wires":[[]]},{"id":"5884bdc2.edc114","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_newdeaths","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":420,"wires":[[]]},{"id":"289ee94f.10eac6","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_deaths","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":340,"wires":[[]]},{"id":"d713354e.3ba048","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_cases","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":580,"wires":[[]]},{"id":"ba99a48a.6d7548","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"total_pcr","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":660,"wires":[[]]},{"id":"151286f2.1b3129","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"update_date","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":740,"wires":[[]]},{"id":"3259ed3c.72d712","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_hospitals","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":260,"wires":[[]]},{"id":"1d97a476.9c207c","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_totalcases","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":180,"wires":[[]]},{"id":"be5ac523.6adc48","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"local_newcases","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[[]]},{"id":"80424847.9eaf68","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"daily_pcr","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":800,"wires":[[]]},{"id":"396faa0f.b500d6","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_new","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1020,"wires":[[]]},{"id":"10f97f54.988981","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_total","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1120,"wires":[[]]},{"id":"b4a2b33a.b442a","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_newdeaths","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1220,"wires":[[]]},{"id":"12e7a16e.65965f","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_deaths","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1320,"wires":[[]]},{"id":"ff38e4b2.fc1298","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_newrecovered","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1420,"wires":[[]]},{"id":"b85db6ab.4cad88","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"global_totalrecovered","pt":"flow","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1520,"wires":[[]]},{"id":"76d18663.f31e38","type":"template","z":"998d18d0.5d2d78","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{flow.local_newcases}},{{flow.local_newcases}},{{flow.local_totalcases}},{{flow.local_hospitals}},{{flow.local_deaths}},{{flow.local_newdeaths}},{{flow.local_recovered}},{{flow.local_cases}},{{flow.total_pcr}},{{flow.update_date}},{{flow.daily_pcr}},{{flow.global_new}},{{flow.global_total}},{{flow.global_newdeaths}},{{flow.global_deaths}},{{flow.global_newrecovered}},{{flow.global_totalrecovered}},{{flow.Confirmed}},{{flow.Deaths}},{{flow.Recovered}},{{flow.Active}}","output":"str","x":1600,"y":840,"wires":[["6ea11448.c8ad6c","79165c83.071174"]]},{"id":"3e5e31e2.666eae","type":"inject","z":"998d18d0.5d2d78","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1460,"y":980,"wires":[["76d18663.f31e38"]]},{"id":"2b82f6c6.ef471a","type":"mqtt in","z":"998d18d0.5d2d78","name":"","topic":"Refresh","qos":"2","datatype":"auto","broker":"6acc25b9.4c63bc","x":90,"y":840,"wires":[["1d4d6a56.e86d36","734428ad.d4aad8","404520ab.f395b","f41d6701.11f9e8","43ed53a.2700fac","7659acb1.3bcc74"]]},{"id":"404520ab.f395b","type":"debug","z":"998d18d0.5d2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":150,"y":600,"wires":[]},{"id":"4563e85e.02b398","type":"function","z":"998d18d0.5d2d78","name":"","func":"let pay = msg.payload[msg.payload.length-1];\nmsg.payload = pay;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2140,"wires":[["f2e8f7a0.ca9bf8","821eda2e.c538f8","5fa9525f.5ee5bc","b5d8fae.c974908","7ad75294.988c0c","31024432.e6ce0c","7f9ef269.17e35c","b00a48c.2d6a5b8","965e5ebf.fac27"]]},{"id":"67d5ccc6.7e3794","type":"debug","z":"998d18d0.5d2d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":360,"wires":[]},{"id":"f2e8f7a0.ca9bf8","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(payload.Confirmed)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1680,"wires":[["ce4d51bf.f7bac","b8bd208f.887c4"]]},{"id":"821eda2e.c538f8","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(payload.Deaths)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1760,"wires":[["ce4d51bf.f7bac","3b972eef.330702"]]},{"id":"5fa9525f.5ee5bc","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(payload.Recovered)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1840,"wires":[["19404735.bad149","ce4d51bf.f7bac"]]},{"id":"b5d8fae.c974908","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$string(payload.Active)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1920,"wires":[["8ee1a55.69d7a58","ce4d51bf.f7bac","beaf7cda.b474a"]]},{"id":"5e6b0a15.e19024","type":"http request","z":"998d18d0.5d2d78","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.covid19api.com/live/country/{{payload}}","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":2060,"wires":[["8c5e7397.ac2d5","a91fd937.5a2fa8"]]},{"id":"52deea93.9f8ae4","type":"inject","z":"998d18d0.5d2d78","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"japa","payloadType":"str","x":90,"y":2060,"wires":[["5e6b0a15.e19024","f41d6701.11f9e8","1d4d6a56.e86d36","734428ad.d4aad8"]]},{"id":"7ad75294.988c0c","type":"ui_text","z":"998d18d0.5d2d78","group":"ec5790ba.087d6","order":2,"width":5,"height":1,"name":"Confirmed","label":"Confirmed","format":"{{msg.payload.Confirmed}}","layout":"row-spread","x":830,"y":1640,"wires":[]},{"id":"31024432.e6ce0c","type":"ui_text","z":"998d18d0.5d2d78","group":"ec5790ba.087d6","order":4,"width":5,"height":1,"name":"Deaths","label":"Deaths","format":"{{msg.payload.Deaths}}","layout":"row-spread","x":820,"y":1720,"wires":[]},{"id":"7f9ef269.17e35c","type":"ui_text","z":"998d18d0.5d2d78","group":"ec5790ba.087d6","order":5,"width":5,"height":1,"name":"Recovered","label":"Recovered","format":"{{msg.payload.Recovered}}","layout":"row-spread","x":830,"y":1800,"wires":[]},{"id":"b00a48c.2d6a5b8","type":"ui_text","z":"998d18d0.5d2d78","group":"ec5790ba.087d6","order":7,"width":5,"height":1,"name":"Active cases","label":"Active cases","format":"{{msg.payload.Active}}","layout":"row-spread","x":830,"y":1880,"wires":[]},{"id":"f41d6701.11f9e8","type":"ui_text","z":"998d18d0.5d2d78","group":"ec5790ba.087d6","order":1,"width":0,"height":0,"name":"Title","label":"","format":"{{msg.payload}}","layout":"col-center","x":150,"y":1120,"wires":[]},{"id":"b8bd208f.887c4","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"Confirmed","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1680,"wires":[[]]},{"id":"3b972eef.330702","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"Deaths","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1760,"wires":[[]]},{"id":"19404735.bad149","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"Recovered","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1840,"wires":[[]]},{"id":"8ee1a55.69d7a58","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"Active","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1920,"wires":[[]]},{"id":"ce4d51bf.f7bac","type":"join","z":"998d18d0.5d2d78","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"","count":"21","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1250,"y":840,"wires":[["45c8d99c.0aad68","9ab81764.f78a88"]]},{"id":"db57c63c.0e8598","type":"change","z":"998d18d0.5d2d78","name":"New cases","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.local_new_cases","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":60,"wires":[["ce4d51bf.f7bac"]]},{"id":"43fcc0ae.88be6","type":"function","z":"998d18d0.5d2d78","name":"","func":"let pay_1 = \"  \";\nlet pay_2 = \"Invalid\";\nif (msg.payload == \"hello\"){\n   msg.payload = pay_1;\n   return msg; \n}\nelse{\n   msg.payload = pay_2;\n   return msg;     \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":2040,"wires":[["3b972eef.330702","8ee1a55.69d7a58","b8bd208f.887c4","19404735.bad149","ce4d51bf.f7bac","fe7efc44.3c548","46dbecc6.524eb4","d07e54d1.e5b218","8b24cf80.06d77","791d9f67.8ba3e"]]},{"id":"43ed53a.2700fac","type":"change","z":"998d18d0.5d2d78","name":"","rules":[{"t":"set","p":"Input","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1520,"wires":[[]]},{"id":"8c5e7397.ac2d5","type":"switch","z":"998d18d0.5d2d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":2060,"wires":[["43fcc0ae.88be6"],["4563e85e.02b398"]]},{"id":"45c8d99c.0aad68","type":"delay","z":"998d18d0.5d2d78","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1420,"y":840,"wires":[["76d18663.f31e38"]]},{"id":"965e5ebf.fac27","type":"debug","z":"998d18d0.5d2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":2200,"wires":[]},{"id":"beaf7cda.b474a","type":"debug","z":"998d18d0.5d2d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1960,"wires":[]},{"id":"9ab81764.f78a88","type":"debug","z":"998d18d0.5d2d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1320,"y":740,"wires":[]},{"id":"46dbecc6.524eb4","type":"function","z":"998d18d0.5d2d78","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":2060,"wires":[["ce4d51bf.f7bac"]]},{"id":"fe7efc44.3c548","type":"function","z":"998d18d0.5d2d78","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":2100,"wires":[["ce4d51bf.f7bac"]]},{"id":"d07e54d1.e5b218","type":"function","z":"998d18d0.5d2d78","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":2020,"wires":[["ce4d51bf.f7bac"]]},{"id":"7659acb1.3bcc74","type":"switch","z":"998d18d0.5d2d78","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hello","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":2000,"wires":[["43fcc0ae.88be6"],["5e6b0a15.e19024"]]},{"id":"9d036c2a.62a7b","type":"debug","z":"998d18d0.5d2d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":900,"wires":[]},{"id":"a91fd937.5a2fa8","type":"debug","z":"998d18d0.5d2d78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":2160,"wires":[]},{"id":"8b24cf80.06d77","type":"debug","z":"998d18d0.5d2d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":2140,"wires":[]},{"id":"791d9f67.8ba3e","type":"trigger","z":"998d18d0.5d2d78","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":440,"y":1880,"wires":[["7ad75294.988c0c","31024432.e6ce0c","7f9ef269.17e35c","b00a48c.2d6a5b8"]]}]